{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/plants/plant-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="plant-container">
  <div class="style-box">
    <div class="plant-details">
      <h1>{{ plant.name }}</h1>
      <hr>
      <h2>{{ plant.species }}</h2>
      <p>{{ plant.description }}</p>
      <h3>Watering:</h3> <p> {{ plant.waterNeeded }}</p>
      <h3>Sunlight:</h3> <p> Needs {{ plant.sunHoursNeeded }} hours of sunlight daily.</p>
      <div class="plant-actions">
        <a href="{% url 'plant-update' plant.id %}" class="btn warn">Edit</a>
        <a href="{% url 'plant-delete' plant.id %}" class="btn danger">Delete</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}